<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">

                    <h2 class="footer-heading">{{ site.title }}</h2>
        <ul class="contact-list">
        <li><strong>{{ site.address }}</strong></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
      <ul class="contact-list">
        <li>{{ site.contact }}</li>
        <li><strong>Phone: </strong>{{ site.Phone }}</li>
        <li><strong>Email: </strong><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>

      </div>
    </div>

  </div>

</footer>
